

.body {
  font-family: "Amiko", sans-serif;
  color: #f1f1f1;
  background-color: #e0e1dd;
  color: #1b263b;
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto; 
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}

.header {
  background-color: #14213D ;
  display: flex;
  justify-content: space-between;
}
.header__logo a{
  text-decoration: none;
  color: #e0e1dd;

}



.nav-link{
  color: #f1f1f1;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  margin: 10px;
  list-style-type: none;
  font-size: 20px;
  text-decoration: none;
  transition: all 2s;
}

.footer{
  background-color: #778da9;
  cursor: default;
}
.footer h4{
  font-size: 1rem;
  font-weight: bold;
}
.footer ul{
  padding: 0%;
  list-style-type: none;
  text-decoration: none;
}
.footer a{
  text-decoration: none;
  color: #14213D;
}

.card{
  cursor: default;
}
.card-body a:hover{
  transform: translateY(-10%);
}
.index__img1:hover{
  transform: translateY(-1%);
}
.index__img2:hover{
  transform: translateY(-1%);
}
.card{
  min-height: max-content;
}
.btn{
  background-color: blue;
}

.form-floating label{
  color: #778da9;
}
#floatingTextarea{
  height: 15rem;
}
.boton{
  background-color: #14213D;
  color: #fff;
  width: 20rem;
  height: 3rem;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.boton:hover{
width: 21rem;
height: 4rem;
}



@media screen and (max-width: 500px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__logo img {
    margin: 20px;
  }
  .menu ul {
    display: flex;
    justify-content: center;
  }

  .menu ul li a {
    margin: 2px;
    font-size: 13px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer h6 {
    display: none;
  }
  .main__index {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .main__div1Index img {
    width: 400px;
    height: 400px;
    animation: none;
  }

  .main__div2Index img {
    width: 400px;
    height: 400px;
  }

  .main__div3Index img {
    width: 400px;
    height: 400px;
  }
  .main__map iframe {
    width: 400px;
    height: 150;
  }

  .mainCategorias {
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
  }
  .mainCategorias div {
    display: block;
  }
  .mainCategorias img {
    width: 400px;
    height: 400px;
  }
  .mainCategorias h3 {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__logo img {
    margin: 20px;
  }
  .menu ul {
    display: flex;
    justify-content: center;
  }

  .menu ul li a {
    margin: 2px;
    font-size: 13px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer h6 {
    display: none;
  }
  .main__index {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .main__div1Index img {
    width: 300px;
    height: 300px;
    animation: none;
  }

  .main__div2Index img {
    width: 300px;
    height: 300px;
  }

  .main__div3Index img {
    width: 300px;
    height: 300px;
  }
  .main__map iframe {
    width: 300px;
    height: 150;
  }

  .mainCategorias {
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
  }
  .mainCategorias div {
    display: block;
  }
  .mainCategorias img {
    width: 300px;
    height: 300px;
  }
  .mainCategorias h3 {
    display: flex;
    justify-content: center;
  }
}
