.header {
  background-color: #000; }
  .header div a {
    text-decoration: none;
    color: #fff; }

.footer {
  background-color: #d4d7dd;
  cursor: default; }
  .footer h4 {
    font-size: 1rem;
    font-weight: bold; }
  .footer ul {
    padding: 0%;
    list-style-type: none;
    text-decoration: none; }
  .footer a {
    text-decoration: none;
    color: #000; }

.index__img1:hover {
  transform: translateY(-1%); }

.index__img2:hover {
  transform: translateY(-1%); }

.card {
  cursor: default;
  border-color: #000; }
  .card .card-body a:hover {
    transform: translateY(-10%); }

.form-floating label {
  color: #778da9; }

#floatingTextarea {
  height: 15rem; }

.boton {
  width: 12rem;
  height: 3rem;
  border-radius: 10px; }

.boton_ :hover {
  transform: translateY(-5%); }

.preguntas p {
  font-size: 2rem; }

/* 
  @media screen and (max-width: 768px) {
    .body {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    }  */
/*  */
@media only screen and (max-width: 700px) {
  .navbar-toggler {
    background-color: #fff; }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .index__img {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .main .index__img1 {
      width: 29rem;
      height: 29rem; }
    .main .index__img2 {
      width: 29rem;
      height: 29rem; }
  .formulario {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .form-floating {
    width: 15rem; }
  .main iframe {
    width: 28rem;
    height: 30rem; }
  .preg {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .preguntas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main .preguntas p {
    font-size: 1.5rem; }
  .preg__img {
    display: none;
    width: 80rem;
    height: 10rem; }
  .preg div {
    display: block; }
  .parrafo {
    float: left; } }

@media only screen and (max-width: 768px) {
  .navbar-toggler {
    background-color: #fff; } }

.body {
  font-family: 'Fjalla One', sans-serif;
  color: #000;
  background-color: #eae9e9;
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "main main" "footer footer"; }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }
