
  .footer {
    background-color: $fondoFooter; 
    cursor: default;
    h4{
        font-size: 1rem;
        font-weight: bold;
        }
    ul{
        padding: 0%;
        list-style-type: map-get($estilos, decoracion);
        text-decoration: map-get($estilos, decoracion);
    }
    a{
        text-decoration: map-get($estilos, decoracion);
        color: map-get($estilos, color);
    }
}