.header {
    background-color: $fondoHeader;
    div a{
        text-decoration: none;
        color: $colorMenu;
    }
}

.nav-link:hover{
    transition: all .5s;
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 12px #fff,
    0 0 15px #fff ;
}
.titulo:hover{
    @extend .nav-link:hover
}