


.index__img1:hover{
    transform: translateY(-1%);
    transition: all 1s;
  }
.index__img2:hover{
    @extend .index__img1;}

.card{
    cursor: default;
    border-color: #000;
    .card-body a:hover{
      transform: translateY(-10%);}

  } 
  