@media only screen and (max-width: 700px){
      .navbar-toggler{
      background-color: #fff;
      }
      .main{
        display: flex;
        flex-direction: column;
        align-items: center;
          .index__img{
            display: none;
        }
      }
      .formulario{
        width: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .form-floating{
        width: 30rem;
      }

      .main iframe{
        width: 28rem;
        height: 30rem;
      }
      .preg{
        display: flex;
        flex-direction: column;
        align-items: center;

      }
      .preguntas{
        display: flex;
        flex-direction: column;
        align-items: center;

      }
      .main .preguntas p{
        font-size: 1.5rem;
      }
      .preg__img{
        display: none;
      }
      .preg div{
        display: block;
      }
    }


  @media only screen and (max-width: 768px){
    .navbar-toggler{
    background-color: #fff;
    }
}